
/*begin stick'em CSS*/
* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
}

/*customized*/
.container {
	margin: 20px auto;
	width: 100%;
}

.row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;
	position: relative;
}

.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.content {
	float: left;
	width: 640px;
  margin-top: 200px;
  opacity: .90;
  background: whitesmoke;
}

.aside {
	background: #cecece;
	float: left;
  position: absolute;
	/*padding: 20px;*/
	padding: 0 20px;
	width: 260px;
  z-index:-1;
}

h2 {
	font-size: 20px;
}

p {
	margin-bottom: 1.5em;
}

/*customized*/
.stickit {
	position: fixed;
	top: 0;
  left: 0;
}

.stickit-end {
	bottom: 40px;
	position: absolute;
	left: 0;
}
