html{
  /*height: 200%;*/
}
body, .container, .stickem-container{
  height: 100%;
}
 .content{
  min-height: 50%;
}
.aside{
  /*will determine vertical position of aside before stickem-end applies*/
  /*a couple of media queries may be a good idea*/
  height: 30%;
}


/*begin stick'em CSS*/
* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
}

/*customized*/
.container {
	margin: 20px auto;
	width: 100%;
  box-sizing: border-box;
}

.row {
	border-bottom: 1px solid #ccc;
	position: relative;
}

.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.content {
	float: left;
	width: 100%;
  margin-top: 70%;
  opacity: .90;
  background: darkred;
  color: white;
  padding: 20%;
  box-sizing: border-box;
  }
.row, .stickem-container{
  margin-bottom: -70px;
}

.aside {
	background: white;
  color: darkred;
	float: left;
  position: absolute;
	padding: 0 20px;
	width: 100%;
  z-index:-1;
  box-sizing: border-box;

}

h2 {
	font-size: 20px;
}

p {
	margin-bottom: 1.5em;
}

.stickit {
	position: fixed;
	top: 0;
  left: 0;

}

.stickit-end {
	bottom: 0;
	position: absolute;
	left: 0;

}

/*custom*/
img{
  marin: 0 auto;
}
.aside p, .content p, .aside, .content{
  text-align: center;
}
.headshot{
  border-radius: 100px;
  border: 4px solid whitesmoke;
  -moz-box-shadow: 0 0 5px rgba(68,68,68,0.8);
  -webkit-box-shadow: 0 0 5px rgba(68,68,68,0.8);
  box-shadow: 0 0 5px rgba(68,68,68,0.8);
  overflow: hidden;
}

.headshot-container{
  padding-top: 10%;
}
