/*begin stick'em CSS*/
* {
	margin: 0;
	padding: 0;
}
body {
	font: 14pt/1.5;
  font-family: 'Lato', sans-serif;
}


/*customized*/
.container {
	margin: 0 auto 20px auto;
	width: 100%;
  box-sizing: border-box;
}

.row {
	/*border is useful debugging tool to find actual bottom of row*/
	/*border-bottom: 1px solid #ccc;*/
	position: relative;
	width: 100%
}

.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.content {
	float: left;
	width: 100%;
  margin-top: 80%;
	/*this margin is responsible for keeping changing header color out of content body*/
	margin-bottom: 69px;
	min-height: 1000px;
  /*margin: 70% -20px;*/
  opacity: .93;
  background: darkred;
  color: white;
  padding: 15% 20% 25% 20%;
  box-sizing: border-box;
	position: relative;
	z-index: 0;
  }

.row, .stickem-container{
  margin-bottom: -70px;
}

.aside {
  color: darkred;
	float: left;
  position: absolute;
	width: 100%;
  box-sizing: border-box;
  /*will determine vertical position of aside before stickem-end applies*/
  /*a couple of media queries may be a good idea*/
  height:30%;
}

h2 {
	font-size: 20px;
}

p {
	margin-bottom: 1.5em;
}

.stickit {
	position: fixed;
	top: 0;
  left: 0;
}

.stickit-end {
	bottom: 0;
	position: absolute;
	left: 0;
}

/*custom*/
img{
  marin: 0 auto;
}

.aside, .content{
  text-align: center;
}

.headshot{
  border-radius: 100px;
  border: 4px solid whitesmoke;
  -moz-box-shadow: 0 0 5px rgba(68,68,68,0.8);
  -webkit-box-shadow: 0 0 5px rgba(68,68,68,0.8);
  box-shadow: 0 0 5px rgba(68,68,68,0.8);
  overflow: hidden;
}

.headshot-container{
  padding-top: 10%;
}

/*name contains profile name and will eventually float above content element*/
.name{
  /*background: yellow;*/
  position: relative;
  /*z-index: 5;*/
}

.menu-title{
	position: fixed;
	top: 0;
	color: white;
	display: inline-block;
	height: 40px;
	width: 100%;
	z-index: 9999;
	line-height:2;
	font-size: 20px;
	border-bottom: 2px solid #444444;
	padding-left: 20px;
}

.aside:after {
	background: #710000;
	content:"";
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .93;
}


/*start multi-color logic here*/
.stickem-container:first-of-type > .aside:after {
	background: #710000;
}
.stickem-container:first-of-type > .content,
.stickem-container:nth-child(4n-2) > .aside:after{
	background: #0C3637; /*green*/
}
.stickem-container:first-of-type > .aside{
	color: #0C3637; /*green*/
}
.stickem-container:nth-child(4n-2) > .content,
.stickem-container:nth-child(4n-1) > .aside:after{
	background: #0E043D; /*blue*/
}
.stickem-container:nth-child(4n-2) > .aside{
	color: #0E043D; /*blue*/
}
.stickem-container:nth-child(4n-1) > .content,
.stickem-container:nth-child(4n) > .aside:after{
	background: #3F043C; /*purple*/
}
.stickem-container:nth-child(4n-1) > .aside{
	color: #3F043C; /*purple*/
}
.stickem-container:nth-child(4n) > .content{
	background: #710000; /*red*/
}
.stickem-container:nth-child(4n) > .aside{
	color: #710000; /*red*/
}
.stickem-container:last-of-type > .content{
	margin-bottom: -25px;
}
